/* Style the links inside the navigation bar */
.navtext a {
	z-index: 5;
	float: right;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	margin-top:50px;
	font-weight:bold;
	color: white;
	margin-right:40px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	font-family:"k2dregular";
	background-color: #AE5034;
	color: white;
	height:30px;
	width:80px;
	border-radius:20px;
	display:block;
	 font-family: 'david_libreregular';
}


/* Add a color to the active/current link */
.active {
		z-index: 5;
	float: right;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	margin-top:50px;
	font-weight:bold;
	color: white;
	margin-right:40px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	font-family:"k2dregular";
	background-color:#933A20;
	color: white;
	height:30px;
	width:80px;
	border-radius:20px;
	display:block;
	 font-family: 'david_libreregular';
	color:white;
}

.active a:visited {
	color:white;
	text-decoration: none;
}

.active a:link {
	text-decoration:none;
color:white;
}

.navtext2 {
z-index: 3;
  background-color:#933A20;
overflow: hidden;
	height: 130px;
	padding-right: 20px;
	border-radius: 10px;

}
/* Style the links inside the navigation bar */
.navtext2 a {
z-index: 3;
  float: right;
  color: white;
  text-align: center;
  padding: 60px 10px;
  text-decoration: none;
  font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
font-weight: bold;
}


/* Add a color to the active/current link */
.active2 {
	
	z-index: 20;
	float: right;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight:bold;
	color: white;
	margin-right:10px;
	padding-top:10px;
	font-family:"k2dregular";
	background-color:#ff9966;
	color: white;
	height:200px;
	margin-bottom:20px;
	width:80px;
	display:block;
	font-family: 'david_libreregular';
	color:white;
}

.active3 {
	z-index: 50;
	float: right;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight:bold;
	color: white;
	margin-right:10px;
	padding-top:10px;
	font-family:"k2dregular";
	background-color:#ff9966;
	color: white;
	height:200px;
	margin-bottom:20px;
	width:80px;
	display:block;
	font-family: 'david_libreregular';
	color:white;
}


.active3 a {
margin-top:-12px;
margin-right:10px;
color:white;
}

.active2 a {
margin-top:-12px;
padding-right:20px;
margin-right:10px;
}

.active2 a:visited {
	color:white;
	text-decoration: none;
}

.active2 a:link {
	text-decoration:none;
color:white;
}



.nombre {
	z-index:1;
	overflow: hidden;
	display: block;
	float: left;
	padding-right:20px;
	margin-left:30px;
	margin-top:-20px;
	font-size:50px;
	font-weight:bold;
	position:absolute;
	color: #AE5034;
    font-family: 'david_libreregular';
	    text-shadow:
    -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF;  
}

.fondo {
z-index:-3;
 width:101%;
height:800px; 
margin-left: -20px;/*reset margin of figure tag*/
margin-right:-20px;
display: block;
background-image: url("sumarian.jpg");
position:relative;
background-repeat:no-repeat;
 background-attachment: fixed;
 background-position: center;
	background-size:100%;
    font-family: 'david_libreregular';
}

.midtext p {

	color:white;
	font-size:100px;
	font-weight:bold;
	margin-top:-450px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 55%;
	margin-bottom:15px;
	padding-left:15px;
    font-family: 'sansita_swashedlight';
}

.midbut {
	 display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 8%;
	padding-right:0px;
	padding-left:20px;
	padding-top: 10px;
	padding-bottom:10px;
	background-color:#C1C1C1;
	border-radius:10px;
	margin-top:50px;
}

.midbut a {
	color: white;
	font-size:35px;
	font-weight:bold;
    font-family: 'david_libreregular';
	padding-left:10px;
}

div.midbut a:link { color:white; }
div.midbut a:link {text-decoration: none;}

@font-face {
    font-family: 'k2dregular';
    src: url('k2d-regular-webfont.woff2') format('woff2'),
         url('k2d-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on October 15, 2020 */



@font-face {
    font-family: 'sansita_swashedlight';
    src: url('sansitaswashed-variablefont_wght-webfont.woff2') format('woff2'),
         url('sansitaswashed-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

div.suidos {
font-family: 'sansita_swashedlight';
	margin-top:350px;
	float:right;
	font-size:30px;
	margin-right:22%;
}

div.suidos2 {
	float:right;
	font-size:20px;
	margin-right:15%;
	margin-left:50%;
   font-family: 'david_libreregular';
 text-align: justify;
  text-justify: inter-word;
}

div.foto1 {
	margin-top:-250px;
	margin-left:15%;
	float:left;
	height:200px;
}

div.foto1 img {
	height: 200px;
	overflow:hidden;
	
}

div.foto2 {
	margin-top:250px;
	margin-right:15%;
	float:right;
	font-size:30px;
	margin-bottom:50px;
}

div.foto2 img {
	height: 300px;
	overflow:hidden;
	
}

div.iandesh2 {
	margin-top:-20px;
	float:left;
	font-size:20px;
	margin-left:15%;
	margin-right:50%;
   font-family: 'david_libreregular';
 text-align: justify;
  text-justify: inter-word;
}

div.iandesh {
	margin-top:150px;
	float:left;
	font-size:30px;
	margin-left:23%;
font-family: 'sansita_swashedlight'; 
}

div.bar {
	background-color:blue;
}

div.mau {
	position:absolute;
	margin-top:150px;
	margin-left:50px;
}

div.mau img {
height:500px;
	width:400px;
}

div.bio {
	position:absolute;
	margin-top:120px;
	margin-left:500px;
	margin-right:200px;
	font-size:30px;
font-family: 'david_libreregular';
 text-align: justify;
}
   html {
      box-sizing: border-box;
    }
    
    *, *:before, *:after {
      box-sizing: inherit;
    }
    
    body {
      margin: 0;
    }
    
    .preview {
      width: 100%;
    }
    
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
	margin-left:150px;
	margin-top:100px;
	margin-bottom: 50px;
    }

	.row img {
      height: 550px;
	width:350px;
}
    
    .row > .col {
      padding: 0 8px;
    }
    
    .col {
      float: left;
      width: 50%;
    }

    
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding: 10px 62px 0px 62px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: white;
    }
    
    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 0 0 0 0;
      width: 25%;
      max-width: 800px;
	margin-top:75px;
    }
    
    .slide {
      display: none;
    }
    
    .image-slide {
    	width: 100%;
    }
    
    .modal-preview {
    	width: 100%;
    }
    
    .dots {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-between;

    }
    
    img.preview, img.modal-preview {
      opacity: 0.6;
    }
    
    img.active,
    .preview:hover,
    .modal-preview:hover {
      opacity: 1;
    }
    
    img.hover-shadow {
      transition: 0.3s;
    }
    
    .hover-shadow:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    } 
    
    .close {
      color: black;
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 35px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
    .previous,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: black;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
    
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    .previous:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.slidetext {
	color:black;
	margin-top: 10px;
 font-family: 'david_libreregular';
}

	 .col2 {
      float: left;
      width: 30%;
position:absolute;
margin-top: 300px;
	margin-left: 200px;
    }

 .col3 {
      float: left;
      width: 30%;
position:absolute;
margin-top: 800px;
	margin-left: 1000px;
	margin-bottom: 500px;
    }

    .row2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
	margin-left:150px;
	margin-top:100px;
	margin-bottom: 50px;
    }

	.row2 img {
      height: 200px;
	width:500px;
}
	.row3 img {
      height: 300px;
	width:400px;
}
    
    .row2 > .col2 {
      padding: 0 8px;
    }
        .row2 > .col3 {
      padding: 0 8px;
    }

  .dots2 {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-between;
	margin-left:-300px;

    }
.slideimg1 img {
	width:800px;
	height:500px;
	margin-top:50px;
	margin-left:-150px;
}

.slideimg2 img {
	width:700px;
	height:300px;
	margin-top:50px;
	margin-left: -150px;
}

    .previous2,
    .next2 {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      color: black;
      font-weight: bold;
      font-size: 20px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
	margin-right:-147px;
	margin-left:-193px;
	margin-top:-200px;
    }
    
    .next2 {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    .previous2:hover,
    .next2:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

	.slidetext2 {
	margin-left:-190px;
	margin-right:-190px;
	font-size:20px;	
	margin-top:50px;
}
