@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-rubik);
}

.markdown > * {
  all: revert;
}

.tooltip-fast {
  animation-duration: 150ms;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 14%;

    --muted: 210 40% 96%; 
    --subtitle: 215 16% 47%;

    --radius: 0.5rem;

    --color-1: 0 100% 63%;

    --color-2: 270 100% 63%;

    --color-3: 210 100% 63%;

    --color-4: 195 100% 63%;

    --color-5: 90 100% 63%;
  }
  .dark {
    
    --background: 0 0% 14%;
    --foreground:  0 0% 100%;

    --muted: 0 0% 20%;
    --subtitle: 215 16% 80%;

    --radius: 0.5rem;

    --color-1: 0 100% 63%;

    --color-2: 270 100% 63%;

    --color-3: 210 100% 63%;

    --color-4: 195 100% 63%;

    --color-5: 90 100% 63%;
  }
}


@layer utilities {
  /* Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

}
